{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>Inventory Book</h1>


    <form action="{% url 'libraryapp:books' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="bookTitle">Title: </label>
          <input id="bookTitle" type="text" name="bookTitle">
      </fieldset>
      <fieldset>
          <label for="Author">Author: </label>
          <input id="Author" type="text" name="Author">
      </fieldset>
      <fieldset>
          <label for="YearPublished">Year of publication: </label>
          <input id="YearPublished" type="number" name="YearPublished">
      </fieldset>
      <fieldset>
          <label for="ISBNNumber">ISBN: </label>
          <input id="ISBNNumber" type="text" name="ISBNNumber">
      </fieldset>
      <fieldset>
          <label for="location">Library: </label>
          <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                    <option value="{{ library.id }}">{{ library.title }}</option>
                {% endfor %}
          </select>
      </fieldset>

      <input type="submit" value="Add It" />
       </form>
  </body>
</html>
